#right-slider{
	float: left;
    width: 650px;
  
	.slider
	{		
		.flexslider
		{		
			.flex-direction-nav 
			{
				a
				{
					height: 48px;
				}
			}
			.flex-control-paging 
			{
				bottom: -18px;
				li
				{
					a
					{
						background: none repeat scroll 0 0 rgba(240, 255, 255, 0.5);
					}
				}
			}
		}		
	}
}