#forgot-page {
  min-height: 500px;
  text-aign: center; }
  #forgot-page form {
    padding: 60px 0; }
    #forgot-page form div.table-forgot {
      margin: auto;
      width: 57%; }
      #forgot-page form div.table-forgot .l-remember {
        display: inline;
        vertical-align: middle;
        padding: 0 5px; }
      #forgot-page form div.table-forgot input.remember {
        margin: 0 0 3px;
        vertical-align: middle; }
