select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{	
	border-radius: 0px;
}

label
{
	cursor: text;
}
.text
{
    border: medium none;
  
    min-width: 180px;
    cursot: text;
    padding: 4px 0px;
	border-radius: 0px;
	vertical-align: top !important;
}

.btn
{
	color: $color_body;
	border:1px solid #15aeec; 
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size:13px;
	cursor: pointer;
	 margin: 3px 5px;
	font-family:arial, helvetica, sans-serif; 
	padding: 5px 20px 5px 20px; 
	text-decoration:none; 
	background-position: 0 0px;
	display:inline-block;	
	font-weight:bold; 
	color: #FFFFFF;
	background-color: #49c0f0; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
	background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3); 
	background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
	text-shadow: none;
	box-shadow: none;
}

.btn-mini
{	
	font-size:10px;		
	padding: 1px 4px;
}

.btn-large
{
	border-radius: 0px;
	padding: 8px 20px;
	font-size: 17px;
	margin: 0;
}
.btn.gray 
{
	color: #333333;
	text-shadow: none;
	background-color: #e5e5e5;
	background-image: none;
	border: none;
}
.btn.gray:hover,.btn.gray:focus
{
	background-image: none; 
	color: #333333;
	background-color: #d8d8d8 !important;
	border: none;
	outline: none;
}

.btn:hover, 
.btn:focus
{
	color: $color_body;
	background-position: 0 0px;
	border:1px solid #1090c3;
	background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
	outline: thin dotted #333;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;  
}

.title
{
	font-size: 20px;
	font-weight: bold;
	margin: 30px 0;
}

.inline
{
	display: inline !important;
}
.block
{
	display: block !important; 
}
.input-text-invalid{border: 2px solid red  !important} 
.clear{clear:both  !important}
.center{text-align:center  !important}
.float-left{float:left  !important}
.float-right{float:right  !important}
.relative{position:relative  !important}
.absolute{position:absolute  !important}
.alignRight {text-align:right  !important}
.margin-auto{margin:auto  !important;}
.padding-auto{padding:auto  !important;}

.page-title 
{
	padding: 0px;
	font-size: 30px;
	letter-spacing: -1px;
	display: block;
	color: $color_body;
	margin: 20px 0px 45px 0px;
	font-weight: 300;	
}

.page-content
{
	padding:5px;
}

/* Begin Info Bar */
.info-bar
{
	position:fixed; 
	_position:absolute;
	top:-30px; 
	left:46%; 
	z-index:99999999; 
	height:30px; line-height:30px; 
	font-size:18px; 
	background-color:#fff; 
	color:#666; padding:0 25px 0 15px; 
	-moz-border-radius: 0 0 3px 3px; 
	border-radius: 0 0 3px 3px;
	box-shadow: 0 2px 40px rgba(0,0,0,.9);
    -moz-box-shadow: 0 2px 40px -moz-rgba(0,0,0,.9);
    -webkit-box-shadow: 0 2px 40px rgba(0,0,0,.9);
    *filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=180, Strength=8);	
	.icon{margin-right:15px; vertical-align:baseline; top:2px;}
	span{_position:relative; _top:3px;}
	.processing{background:#fff url(../images/loading.gif) 20px 7px no-repeat;} 
	.processing 
	{
		.icon{background:none !important; width:20px;}
	}
}

.no-shadow{
		box-shadow:none; 
		-moz-box-shadow:none; 
		-webkit-box-shadow:none; 	 	
}

.no-border
{
	border: medium none !important;
}

.no-display
{
	display: none;
}

.display
{
	display: inline-block;
}
/* End Info Bar */
/* Begin Validate */

.control-group.input-error .help-block.message, .control-group.input-error .help-inline.message,.input-error .help-block.message, .input-error .help-inline.message {
    color: #FF0000;
}

.help-inline.message
{
	display: none;
}
.input-error
{
	.help-inline.message
	{
		display: inline-block;
	}
}
/* End Validate */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}