#forgot-page
{
	min-height: 500px;  
	
	text-aign:center;
	
	form
	{
		padding:60px 0;
		div.table-forgot
		{			
			margin:auto;
			width:57%;
			.l-remember
			{
				display:inline;
				vertical-align: middle;
				padding: 0 5px;
			}
			input.remember
			{
				margin: 0 0 3px;				
				vertical-align: middle;
			}
		}
	}
	
} 
