#profile-page
{
	min-height: 500px;  
	
	text-aign:center;
	
	.menu-profile {
		list-style: none outside none;
		margin-bottom: 10px !important;
		li
		{
			margin-bottom: 1px;
			position: relative;		
			a, a:focus, a:hover, a:active 
			{
				text-decoration: none;
				outline: 0;			
				background: none repeat scroll 0 0 #F0F6FA;
				border-left: 2px solid #C4D5DF;
				color: #557386;
				display: block;
				font-size: 13px;
				line-height: 39px;
			}
			i 
			{
				background: none repeat scroll 0 0 #E0EAF0 !important;
				color: #B9CBD5;
				font-size: 15px;
				margin: 0 8px 0 0;
				padding: 11px 9px;
				display: inline;
				
				
			}
			i:before
			{
				text-align: center;
				width: 1.25em;
			}
		}
		
		li.active:after 
		{
			border-bottom: 6px solid rgba(0, 0, 0, 0);
			border-left: 6px solid #169EF4;
			border-top: 6px solid rgba(0, 0, 0, 0);
			content: "";
			display: inline-block;  
			position: absolute;
			right: -5px;
			top: 12px;
		}
		li.active a, li.active i 
		{
			background: none repeat scroll 0 0 #169EF4;
			border-left: 1px solid #0C91E5;
			color: #FFFFFF;
			text-decoration: none;
		}
		li.active i 
		{
			background: none repeat scroll 0 0 #0C91E5 !important;
		}		
	}
} 
