$color_header: #000;
$color_body: #FFFFFF;
$size_body: 12px ; 
$color_header_menu: #0099FF;  
$color_border_rbga: rgba(113,108,104,.3);  
$color_border: #716C68;  

$color_hover: #FFBC00;  

$color_active: #FFDC40;

$size_header: 20px ;


$size_sub_header: 16px ;

@charset "utf-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section
	{
		border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;vertical-align:baseline;list-style:none
	}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}
h1,h2,h3,h4,h5,h6{font-weight:bold}
table{border-collapse:separate;border-spacing:0}
caption,th,td{font-weight:400;text-align:left}
table,td,th{vertical-align:middle}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:""}
body{
		color:$color_body;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:$size_body;margin:0;padding:0;line-height:1.5;
		background: url("../images/bg-page.jpg") right top repeat;
		
	}
#main{
		width:1024px;
		/*background-color:#C4C6C8;*/
		height:100%;
		margin: auto;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
		
	}
.wrapper{width:100%; display:block; min-height: 360px;}
/*
#slider-left {float:left; height:100%;width:15%;}
#content {float:left; min-height:583px;width:75%;  display:block}
#slider-right {float:left; height:100%;width:10%;}
*/

/*********** font ************/
@import "font.scss";
/*********** end font ************/
/*********** common for font page *********/

h1 a{ color:$color_header;}  
h1 a:visited{ color:$color_header;}
h1  a:hover {color:$color_header !important;}
/*********** end common for font page *********/

/*********** common for admin page *********/
.div_admin_group_title {text-align:left}
#admin-box {float:left; height:100%;width:100%; background-color:#EEF8FB}
#admin-content {float:left; margin-left:220px; padding:0 5px}
#admin-slider-left {float:left; min-height:400px;width:220px;margin-left:-100%; background-color:#090}
/*********** end common for admin page ************/

/*********** common ************/
@import "common.scss";
/*********** end common ************/

/*********** custom plugin************/
@import "custom-plugin.scss";
/*********** end custom plugin ************/

/*********** header ************/
@import "header.scss";
/*********** end header ************/

/*********** left-sider ************/
@import "left-sider.scss";
/*********** end left-sider ************/

/*********** right-sider ************/
@import "right-slider.scss";
/*********** end right-sider ************/

/*********** gallery ************/
@import "gallery.scss";
/*********** end gallery ************/

/*********** login ************/
@import "login.scss";
/*********** end login ************/

/*********** forgot ************/
@import "forgot.scss";
/*********** end forgot ************/

/*********** register ************/
@import "register.scss";
/*********** end register ************/

/*********** post ************/
@import "post.scss";
/*********** end post ************/

/*********** profile ************/
@import "profile.scss";
/*********** end profile ************/


/*********** seach box ************/
@import "search-box.scss";
/*********** end seach box ************/

/*********** footer ************/
@import "footer.scss";
/*********** end footer ************/

/*********** article-list ************/
@import "article-list.scss";
/*********** end article-list ************/

/*********** article ************/
@import "article.scss";
/*********** end article ************/

/*********** map ************/
@import "map.scss"; 
/*********** end map ************/

.wrapper 
{
	p.slogan
	{
		font-size: 24px;
		text-align:center;
		padding-top:0px;
		padding-bottom:8px;
		color: $color_header_menu;
	}
	#content
	{
		p.slogan
		{
			padding-top:80px;
		}
	}
}

.tooltipBox{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#fffbe7;border:1px #ffb950 solid;padding:5px 25px 5px 10px;.display:inline-block}
.tooltipBox{font-style:italic}
.tooltipDown{height:11px;padding:0;margin:0;line-height:11px;display:block;float:left}
span.tooltipDown{margin-left:20px}
.tooltipIcon{background:url(http://images.vietnamworks.com/gen/sprite_icons.png) no-repeat;background-position:0 -1379px;height:8px;width:26px;padding-right:15px}
.sprite_icon{background:url(http://images.vietnamworks.com/gen/sprite_icons.png) no-repeat;overflow:hidden}
.sprite_icon.arrowDownIcon{background-position:0 -1379px;width:12px;padding-right:10px}
.sectionHeader, .headerCor,.roundBox, .salesLogoBg, .employerList a.cusLogo {background:url(http://images.vietnamworks.com/js/home_box.png) no-repeat}
.roundBoxBody{clear:both;overflow:hidden;border-left:1px #d6d6d6 solid;border-right:1px #d6d6d6 solid;padding:15px 15px 0px 15px}
.roundBoxBody.smallBox{padding:0 5px}
.sectionHeader{background-color:#7fdcf8;position:relative;height:38px;line-height:30px;color:#fff;font-size:1.2em;margin-top:10px}
.sectionHeader .headerCor{display:block;background-position:right top;margin-left:15px}
.roundBox.TL{position:relative;height:5px;background-position:0 -39px}
.roundBox.TR{display:block;margin-left:15px;height:5px;background-position:100% -39px}
.roundBox.BL{height:20px;background-position:0 -84px;position:relative}
.roundBox.BR{display:block;height:20px;background-position:100% -84px;margin-left:15px}

.hintText{color:#999!important}
.mainContent{margin:auto;padding:5px 0 10px 0;overflow:auto}
/*.content{width:690px;clear:both;float:left;margin-right:10px}*/
.sideBar{width:250px;float:right;margin:0 auto;padding:0}
.introContent{background:#e0f5fd url(http://images.vietnamworks.com/js/home_search_bg.png) repeat-x}
.introWrap, .mainWrap, .footerWrap{width:960px;margin:0 auto}
.introBox{background:url(http://images.vietnamworks.com/js/home_photo_dreammaker.png) no-repeat top right;height:191px}
.introTagLine{color:#f60;font-size:1.4em;padding:15px 0 0 0}
.introSlogan{color:#333;font-size:1.4em;font-weight:normal}
.jobLink a{padding:8px; font-weight:bold; display:inline-block; color:#f90}

a.button{background:#fff url(http://images.vietnamworks.com/gen/form_button.png) no-repeat -9px -1px; border:1px #bd8124 solid;
/*border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;*/}
a.button span{line-height:25px; display:block; font-weight:bold;font-size: 1.2em; padding:1px 15px 3px 15px!important }
a.button.search {width:130px; font-size:1em}
a.button, a.button:visited{ color:#fff; text-align:center; text-decoration:none; display:inline-block}
a.button:hover span{color:#333!important; background-position:-9px 0}



/*********** User info ***********/
.user-info{clear: both;}
/********** Emd User info ********/

/*********** paging ************/
.paging{
 clear: both;
 a {background: #493A3A; text-decoration:none; font-weight:bold; color:White; width:40px; padding:3px 5px 3px 5px; cursor:pointer}
}

.paging-dropdown{
 clear: both;
 a {text-decoration:none; font-weight:bold;width:40px; padding:3px 5px 3px 5px; cursor:pointer}
}
/*********** end paging ************/




/* Css for Tooltip */
#tooltip {position: absolute;	z-index: 3000;	border: 1px solid #111;*border: 1px solid #111;	background-color: #eee;	padding: 5px 10px 5px 10px;	opacity: 0.95;font-size: 10px;font-weight: normal;color: red; vertical-align: middle}
#tooltip h3, #tooltip div {font-size: 12px; margin: 0;padding: 0; *margin: 0;*padding: 0; }
/* End Css for Tooltip */

/*category-page*/
.category-page
{	
	.category-list{
		.category-header{
			color:$color_header;
			font-size:$size_header;
		}
		.category-detail{
			text-align:left;
			.article-detail{
				text-align:left;
				.article-header{
					color:$color_body;
					font-size:$size_sub_header;
				}
				.article-content{
					color:$color_body;
					font-size:$size_body;
				}
			}
		}
	}
}
/* end category-page*/

/* Start article-content*/
.article-content{
	display: block;
	.zone-content{
		   float: left;
			text-align: left;
			width: 100%;
		.content-detail{
		    min-height: 100px;
			margin-left: 125px;
			position: relative;
			.content-block{width:100%;}
		}
	}
}
/* End article-content*/

/* Start font-end comment-zone*/
.zone-comment{
	width:100%;
	#comment-editor{width:99%;}
}
/* End font-end comment-zone*/

/*********** fixchrome ************/
@import "fixchrome.scss";
/*********** end fixchrome ************/